body {
  font-family: Roboto, sans-serif;
  width: 30rem;
}

/*#region collapsible-widget */
.collapsible-widget {
  display: block;
  margin: 1rem 1rem 1rem 1rem;
}

.collapsible-widget .button {
  display: block;
  width: 5.4rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: rgb(240, 255, 240);
  background-color: #017BFF;
  border: 3px solid #017BFF;
  border-radius: .3rem;
  margin: 0.5rem 0;
  user-select: none;
}

.collapsible-widget .button:hover {
  background-color: #0069D9;
  border-color: #0069D9;
  cursor: pointer;
  transition: all 0.15s linear;
}

.collapsible-widget .button:active {
  border-color: rgb(162, 224, 248);
  transition: all 0.06s linear;
}

.collapsible-widget .collapsible-area {
  overflow: hidden;
  max-height: 10rem;
  transition: max-height 0.3s ease-out;
}

.collapsible-widget .collapsible-area.hidden {
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.collapsible-widget .text-field {
  font-weight: 300;
  height: auto;
  box-sizing: border-box;
  margin: 0.5rem 0;
  border: 0.05rem solid lightgray;
  border-radius: 0.3rem;
  padding: 1.5rem 1.2rem;
}

.copy {
  display: block;
  height: auto;
  text-align: right;
  font-size: small;
  color: darkgray;
  margin: 1rem 1rem;
}
/*#endregion End of collapsible widget*/

/*#region like-button */
.like-container {
  display: flex;
  justify-content: center;
}

.like-button {
  width: 5.4rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: rgb(240, 255, 240);
  background-color: red;
  border: 3px solid red;
  border-radius: .3rem;
  margin: 0.5rem 0;
  cursor: pointer;
  user-select: none;
}

.like-button:active {
  border-color: rgb(255, 116, 116);
  transition: all 0.06s linear;
}

.heart {
  position: absolute;
  height: 2rem;
  width: 2rem;
  background-image: url(9479a1295dcf9859be11.svg);
  background-size: cover;
}

.heart-animation0 { animation: heart-animation0 .5s normal; }
.heart-animation1 { animation: heart-animation1 .5s normal; }
.heart-animation2 { animation: heart-animation2 .5s normal; }
.heart-animation3 { animation: heart-animation3 .5s normal; }

.heart-animation0,
.heart-animation1,
.heart-animation2,
.heart-animation3 { animation-timing-function: ease-out; }

@keyframes heart-animation0 {
  25%{ transform: translate(-50px, -50px); opacity: .75; }
  50%{ transform: translate(0, -100px); opacity: .5; }
  75%{ transform: translate(50px, -150px); opacity: .25; }
  100%{ transform: translate(0, -200px); opacity: 0; }
}

@keyframes heart-animation1 {
  25%{ transform: translate(0, -50px); opacity: .75; }
  50%{ transform: translate(50px, -100px); opacity: .5; }
  75%{ transform: translate(-50px, -150px); opacity: .25; }
  100%{ transform: translate(0, -200px); opacity: 0; }
}

@keyframes heart-animation2 {
  25%{ transform: translate(0, -50px); opacity: .75; }
  50%{ transform: translate(-50px, -100px); opacity: .5; }
  75%{ transform: translate(50px, -150px); opacity: .25; }
  100%{ transform: translate(0, -200px); opacity: 0; }
}

@keyframes heart-animation3 {
  25%{ transform: translate(50px, -50px); opacity: .75; }
  50%{ transform: translate(0, -100px); opacity: .5; }
  75%{ transform: translate(-50px, -150px); opacity: .25; }
  100%{ transform: translate(0, -200px); opacity: 0; }
}
:root {
  --trans-time: .1s;
}

.callback-chat-widget {
  position: fixed;
  margin: 3rem 3rem;
  right: 0;
  bottom: 0;
}

.callback-chat-widget .chat-form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  background-color: whitesmoke;
  right: 0;
  bottom: 0;
  height: 20rem;
  width: 12rem;
  padding: 1rem 1rem;
  border: 1px solid lightgray;
  border-radius: .5rem;
  box-shadow: .3rem .3rem 1.5rem  lightgray;
  transition: transform var(--trans-time) linear, opacity var(--trans-time) linear;
}

.callback-chat-widget .chat-form .close-btn {
  position: absolute;
  top: .6rem;
  right: .8rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.1 linear;
}

.callback-chat-widget .chat-form .close-btn:hover {
  transform: scale(1.1, 1.1);
  text-shadow: .1em .1em .15em gray;
}

.callback-chat-widget .chat-form .title {
  font-weight: bolder;
  user-select: none;
}

.callback-chat-widget .chat-form textarea {
  flex-grow: 1;
  margin: 1rem 0;
}

.callback-chat-widget .chat-form .button {
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: rgb(240, 255, 240);
  background-color: #017BFF;
  border: 3px solid #017BFF;
  border-radius: .3rem;
  cursor: pointer;
  user-select: none;
}

.callback-chat-widget .chat-form .button:hover {
  background-color: #0069D9;
  border-color: #0069D9;
  cursor: pointer;
  transition: all 0.15s linear;
}

.callback-chat-widget .chat-form .button:active {
  border-color: rgb(162, 224, 248);
  transition: all 0.06s linear;
}

.callback-chat-widget .show-form-btn {
  position: absolute;
  z-index: 999;
  right: 0;
  bottom: 0;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  background-image: url(31124e40325ff0f91290.svg);
  background-size: cover;
  filter: drop-shadow(.1rem .1rem .3rem  gray);
  transition: transform var(--trans-time) linear,
    opacity var(--trans-time) linear,
    filter var(--trans-time) linear;
}

.callback-chat-widget .show-form-btn:hover {
  transform: scale(1.1, 1.1);
  filter: drop-shadow(.2rem .2rem .3rem  rgb(68, 68, 68));
}

.callback-chat-widget .hidden {
  transform: scale(0, 0);
  opacity: 0;
}
